$primary-color: #7d0645;
$secondary-color: #00f8df;
$font-color: rgb(204, 204, 204);
$bg-color: rgb(0, 0, 0);
$bg2-color:#1b1b1b;

$box-shadow:6px 6px #000000;

$limit: 10;
$unit: 0.5rem;

$breakpoints:(
    muypequeña: 320px,
    pequeño: 480px,
    normal: 768px,
    grande: 960px,
    muygrande: 1024px,
    gigante: 1328px
)